<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="UrlApi" value="http://www.britanico.uy/dvlop/api/" />

    <!--<add key="UrlApi" value="https://localhost:44323/dvlop/api/" />-->
  </appSettings>
</configuration>