<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location inheritInChildApplications="false" path=".">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <add modules="AspNetCoreModuleV2" name="aspNetCore" path="*" resourceType="Unspecified" verb="*" />
      </handlers>
      <aspNetCore arguments="%LAUNCHER_ARGS%" processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 9cf08d7f-8cb7-4a0d-904a-63f34ab2f622-->